
<div *ngIf="(flights$ | async) != null">
  <div class="flights_view" fxLayout="column" *ngFor="let flight of (flights$ | async).data">
    <div *ngFor="let route of flight.route">
      <div fxLayout="row" >
        <div fxFlex="20">
          {{route.cityFrom}}
        </div>
        <div fxFlex="60" class="text-center">
          <img  class="img-flight" src="assets/flying.png">
        </div>
        <div fxFlex>
          {{route.cityTo}}
        </div>
      </div>
      <div fxLayout="row">
        <div>
          {{route.dTime * 1000 | date:'yyyy-MM-dd HH:mm:ss Z'}}
        </div>
      </div>
    </div>
  </div>
</div>
<ngx-spinner></ngx-spinner>
