<h1 fxLayoutAlign="center center">Random Traveler</h1>

<form fxLayout="column" fxLayoutAlign="center center">

  <mat-form-field fxLayout="row">
    <input matInput placeholder="Travel From" />
  </mat-form-field>

  <mat-form-field fxLayout="row">
    <textarea matInput placeholder="Leave a comment"></textarea>
  </mat-form-field>

</form>


<div  fxLayout="row" >

   <div  fxLayout="row"  fxLayoutAlign="center center">
     <img class="img-size-air" src="assets/output.png"  >
   </div>

  <div  fxLayout="row" >
     <img src="assets/output-onlinepngtools.png"   >
  </div>

 <div  fxLayout="row"  fxLayoutAlign="center center">
     <img class="img-size" src="assets/cloud.png"  >
 </div>
</div>
