<h1 fxLayoutAlign="center center">Random Traveler</h1>

<form [formGroup]="searchForm" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">

  <mat-form-field>
    <input matInput placeholder="Travel From" formControlName="flyName" required/>
  </mat-form-field>
  <span>Fly type</span>
<mat-radio-group aria-label="Select an option" formControlName="flyType" required>
  <mat-radio-button color="primary" value="one-way">One-way</mat-radio-button>
  <mat-radio-button color="primary" value="round">Round</mat-radio-button>
</mat-radio-group>

    <span>Days in Destination</span>
    <ng5-slider [(value)]="value" [(highValue)]="highValue" [options]="options" formControlName="dayRange"></ng5-slider>

    <span>Budget</span>
    <ng5-slider [(value)]="Budgetvalue" [options]="Budgetoptions" formControlName="budgetPrice"></ng5-slider>

<button mat-raised-button [formGroup]="searchForm" (click)="onSubmit()" [disabled]="!searchForm.valid" >Search</button>
</form>








<div  fxLayout="row" >

   <div  fxLayout="row"  fxLayoutAlign="center center">
     <img class="img-size-air" src="assets/output.png"  >
   </div>

  <div  fxLayout="row" >
     <img src="assets/output-onlinepngtools.png"   >
  </div>

 <div  fxLayout="row"  fxLayoutAlign="center center">
     <img class="img-size" src="assets/cloud.png"  >
 </div>
</div>
